services:
  # may need to reinstall node_modules, package "sharp" is broken on MacOS
  # payload:
  #   image: node:22.10-alpine
  #   ports:
  #     - 3000:3000
  #   volumes:
  #     - .:/home/node/app
  #     - node_modules:/home/node/app/node_modules
  #   working_dir: /home/node/app/
  #   command: sh -c "corepack enable pnpm && pnpm dev"
  #   depends_on:
  #     - mongo
  #   env_file:
  #     - .env

  mongo:
    image: mongo:5.0.6
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: $MONGO_ROOT_PASSWORD
    ports:
      - 27017:27017
    restart: always
    command:
      - --storageEngine=wiredTiger
    volumes:
      - data:/data/db

volumes:
  data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./volumes/mongo
  node_modules:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./node_modules
